In [2]:
#1. Write a Pandas program to join the two given dataframes along rows and assign all data.

import pandas as  pd
student_data1 = pd.DataFrame({'student_id':['S1','S2','S3','S4','S5'],'name':['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Bernal','Kwame Morin'],'marks':['200','210','190','222','199']})

student_data2 = pd.DataFrame({'student_id':['S4','S5','S6','S7','S8'],'name':['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],'marks':['201','200','198','219','201']})
print('Original DataFrames:')
print(student_data1)
print('////////////////////////////')
print(student_data2)
print('Join Two Data Frames')
result_DataFrames = pd.concat([student_data1,student_data2])
print(result_DataFrames)

Original DataFrames:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
////////////////////////////
  student_id              name marks
0         S4  Scarlette Fisher   201
1         S5  Carla Williamson   200
2         S6       Dante Morse   198
3         S7    Kaiser William   219
4         S8   Madeeha Preston   201
Join Two Data Frames
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
0         S4  Scarlette Fisher   201
1         S5  Carla Williamson   200
2         S6       Dante Morse   198
3         S7    Kaiser William   219
4         S8   Madeeha Preston   201

In [3]:
#2.Write a Pandas program to join the two given dataframes along columns and assign all data.
import pandas as pd
student_data1 = pd.DataFrame({'student_id':['S1','S2','S3','S4','S5'],'name':['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Berry','Kwame Morin'],'marks':['200','210','190','222','199']})
student_data2 = pd.DataFrame({'student_id':['S4','S5','S6','S7','S8'],'name':['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser Williams','Madeeha Preston']})
print('Original DataFrames:')
print(student_data1)
print('////////////////////////////')
print(student_data2)
print('Joing DataFrames along with columns')
result_DataFrames = pd.concat([student_data1,student_data2])
print(result_DataFrames)

Original DataFrames:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199
////////////////////////////
  student_id              name
0         S4  Scarlette Fisher
1         S5  Carla Williamson
2         S6       Dante Morse
3         S7   Kaiser Williams
4         S8   Madeeha Preston
Joing DataFrames along with columns
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199
0         S4  Scarlette Fisher   NaN
1         S5  Carla Williamson   NaN
2         S6       Dante Morse   NaN
3         S7   Kaiser Williams   NaN
4         S8   Madeeha Preston   NaN

In [4]:
#3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
import pandas as pd
student_data1 = pd.DataFrame({'student_id':['S1','S2','S3','S4','S5'],'name':['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Berry','Kwame Morin'],'marks':['200','210','190','222','199']})
s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index =['student_id','name','marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
print(combined_data)

Original DataFrames:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

In [5]:
#4.Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
import pandas as pd
student_data1 = pd.DataFrame({'student_id':['S1','S2','S3','S4','S5'],'name':['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Berry','Kwame Morin'],'marks':['200','210','190','222','199']})
s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index =['student_id','name','marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
dictionary_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Dictionary Data:")
print(dictionary_data)

Original DataFrames:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Dictionary Data:
  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4          Ed Berry   222
4         S5       Kwame Morin   199
5         S6  Scarlette Fisher   205

In [7]:
#5.Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
import pandas as pd
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]})
student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})
exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})
# Joining student_data1 and student_data2 along rows
combined_students = pd.concat([student_data1, student_data2], ignore_index=True)
print(combined_students)
print('...........................................................')
# Merging combined_students with exam_data along 'student_id'
merged_data = pd.merge(combined_students, exam_data, on='student_id', how='inner')
print(merged_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201
...........................................................
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [8]:
#6.Write a Pandas program to join the two dataframes using the common column of both dataframes.
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

print("Original DataFrames:")
print(student_data1)
print("...............................................")
print(student_data2)
print('////////////////////////////////////////')
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print("Merged data (inner join):")
print(merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
...............................................
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
////////////////////////////////////////
Merged data (inner join):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [9]:
#7.Write a Pandas program to join the two dataframes with matching records from both sides where available.
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})
# Merging with matching records from both sides where available
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='outer', suffixes=('_data1', '_data2'))
print(merged_data)

  student_id        name_data1  marks_data1        name_data2  marks_data2
0         S1  Danniella Fenton        200.0               NaN          NaN
1         S2      Ryder Storey        210.0               NaN          NaN
2         S3      Bryce Jensen        190.0               NaN          NaN
3         S4         Ed Bernal        222.0  Scarlette Fisher        201.0
4         S5       Kwame Morin        199.0  Carla Williamson        200.0
5         S6               NaN          NaN       Dante Morse        198.0
6         S7               NaN          NaN    Kaiser William        219.0
7         S8               NaN          NaN   Madeeha Preston        201.0

In [10]:
#8.Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
import pandas as pd
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})
data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
# Performing a left join
result = pd.merge(data1, data2, on=['key1', 'key2'], how='left')
print(result)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [13]:
#9.Write a Pandas program to join two dataframes using keys from right dataframe only.
import pandas as pd
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})
data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
# Performing a right join
result = pd.merge(data1, data2, on=['key1', 'key2'], how='right')
print(result)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [14]:
#10.Write a Pandas program to merge two given datasets using multiple join keys.
import pandas as pd
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})
data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
result = pd.merge(data1, data2, on=['key1', 'key2'])
print(result)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [20]:
#11.Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.
import pandas as pd
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
print('Original DataFrame:')
print(data1)
print('...............................')
# Selecting the 'P' and 'Q' series and creating a new DataFrame
new_data = pd.DataFrame({
    'Column1': data1['key1'],
    'Column2': data1['key2'],'Column3': data1['P'], 'Column4': data1['Q']})
print(new_data)

Original DataFrame:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
...............................
  Column1 Column2 Column3 Column4
0      K0      K0      P0      Q0
1      K0      K1      P1      Q1
2      K1      K0      P2      Q2
3      K2      K1      P3      Q3

In [21]:
#12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],'key2': ['K0', 'K1', 'K0', 'K1'],'P' : ['P0','P1','P2','P3'],'Q' : ['Q0','Q1','Q2','Q3']})

data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1','K2'],'key2': ['K0', 'K0', 'K0', 'K0'],'R' : ['R0','R1','R2','R3'],'S' : ['S0','S1','S2','S3']})

print('Original DataFrame:')
print(data1)
print('.........................................')
print(data2)
print('...........................................')
#merge the data frames
new_merge=pd.merge(data1, data2, on=['key1', 'key2'], how='inner')

#Count occurences in each DataFrames
counts1 = data1.groupby(['key1','key2']).size().reset_index(name='counts1')
counts2 = data2.groupby(['key1','key2']).size().reset_index(name='counts2')

#Merge counts back to the merged DataFrame
merge_with_counts = pd.merge(new_merge, counts1, on=['key1', 'key2'], how='left')
merge_with_counts = pd.merge(merge_with_counts, counts2, on=['key1', 'key2'], how='left')

#Filter rows where the id combination apppear more than once in both DataFrames
result = merge_with_counts[(merge_with_counts['counts1'] > 1) & (merge_with_counts['counts2'] > 1)]
print(result)

Original DataFrame:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
.........................................
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
...........................................
Empty DataFrame
Columns: [key1, key2, P, Q, R, S, counts1, counts2]
Index: []

In [24]:
#13. Write a Pandas program to merge two given dataframes with different columns.
import pandas as pd
# Test Data
data1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])
print('Original Data:')
print(data1)
print('..................')
print(data2)
print('.............................')
# Combining columns from both DataFrames
print('Merged DataFrame:')
result = pd.concat([data1, data2], axis=1, sort=False)
print(result)

Original Data:
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
..................
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
.............................
Merged DataFrame:
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [26]:
#14.Write a Pandas program to merge two given dataframes with different columns.
import pandas as pd

# Test Data
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})
print('Original Data:')
print(data1)
print('.........................................')
print(data2)
print('...........................................')
# Merging the DataFrames
merged_df = pd.merge(data1, data2, on=['key1', 'key2'])
print(merged_df)

Original Data:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
.........................................
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
...........................................
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [27]:
#15.Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
import pandas as pd

# Original DataFrames
df1 = pd.DataFrame({
    'A': [None, 0.0, None],
    'B': [3, 4, 5]
})

df2 = pd.DataFrame({
    'A': [1, 1, 3],
    'B': [3.0, None, 3.0]
})

print('Original Data:')
print(df1)
print('.......................................')
print(df2)
print('..............................................')
#combine data frames
merged_df = df1.combine_first(df2)
print(merged_df)

Original Data:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
.......................................
   A    B
0  1  3.0
1  1  NaN
2  3  3.0
..............................................
     A  B
0  1.0  3
1  0.0  4
2  3.0  5